.*.swp
*.tmproj
ext/kedama/*.o
ext/kedama/*.dll
ext/kedama/Makefile
ext/kedama/*.log
ext/kedama/*.bundle
ext/kedama/*.a
ext/kedama/*.so
ext/kedama/conftest.dSYM
ext/kedama/swf_fill.c
ext/kedama/swf_display_item.c
tags
